fastapi[all]
fastapi-mail
pydantic
uvicorn
openai
asyncio
httpx
python-multipart
redis
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
requests-oauthlib
asyncpg
numpy
pycron
python-dotenv
nltk
