fastapi[all]
uvicorn[standard]
gunicorn
fastapi-mail
openai
asyncio
httpx
python-multipart
redis
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
alembic
requests-oauthlib
asyncpg
numpy
python-dotenv
nltk
clerk-backend-api
python-jose
fastapi-pagination
beautifulsoup4
html2text
stripe
